
  /* Set map, body, and html to 100% of the screen size. */
  
  .container,
  #map,
  body,
  html {
    height: 100%;
  }
  
.maintxt{
 background-color: black;
 
}
/* ///Marquee */
#Mq{
  font-size: 20px;
  font-weight: 800;
  font-family:cursive;
  
}
.dropdown-item {
  color: rgb(13, 80, 152);
}

.nav-link {
  color: rgb(8, 55, 106);
} 
.description-container{
  background-color: black;
 }

/* Plots styling */

/* Table styling */
table, th, td {
  /* margin-top: 30px; */
  width:0px;
  height: 50px;
  border: solid black;
}
th{
  font-weight: bold;
  color:white
  
}
td{
  font-weight: bolder;
  color:yellowgreen;
  font-size: larger;
}
tr:hover {
  background-color:gray;
}

/* #plotPrice{
 height: 600;
 width: 1200;

 } */
 /* #plotcandlestick{
  height: 600;
  width: 1200;
 }
#plotmodelprediction{
  height: 400;
 width: 1200;
} */
/* #tablecomparison{
  margin-top: 30px;
  width:100px;
  height: 150px;
  border: solid white;
} */
